<!DOCTYPE html>
<html lang="{{language}}">

<head>
  <meta charset="utf-8">
  <meta name="author" content="MENG Xiangliang">
  <title>
    {%if is_dev%}(DEV){%endif%}
    {%block title%}
      {%block title1%}Untitled{%endblock%} - AutoProxy2PAC
    {%endblock%}
  </title>
  <link rel="icon" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="gfwlist 更新记录" href="{{gfwlist_rss}}">
  <link rel="stylesheet" href="{{media_url}}styles.css">
  <link rel="stylesheet" media="screen" href="{{media_url}}tipTip.css">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="{{media_url}}script.js"></script>
  {%block css_and_script%}{%endblock%}
</head>

<body>
  <!-- Google Analytics code START -->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10820515-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_setAllowHash', false]);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
  </script>
  <!-- Google Analytics code END -->

  <div id="page">
    <header id="header">
      {%block header%}
      <nav id="navigation">
        <ul>
          <li><a href="/" class="tooltip" title="通过设置浏览器的代理自动配置脚本(PAC)，自由浏览互联网">配置</a></li>
          <li><a href="/gfwtest" class="tooltip" title="哪些网站必须通过代理才能访问？">网址测试</a></li>
        </ul>
      </nav>
      <hgroup>
        <h1 id="logo">
          <a href="/">AutoProxy2PAC</a>
        </h1>
        <h2 id="tagline">{%block tagline%}{%endblock%}</h2>
      </hgroup>
      {%endblock%}
    </header>

    <div id="content">
      {%block content%}
      <div id="main">
        {%block main%}BODY GOES HERE{%endblock%}
      </div>
      <aside id="sidebar">
        {%block sidebar%}
        <section id="changelog">
          <h1>gfwlist 更新记录
            <a href="{{gfwlist_rss}}" class="tooltip" title="订阅 gfwlist 更新情况">
              <img src="http://feeds.feedburner.com/~fc/gfwlist?bg=777777&amp;fg=ffffff&amp;anim=0" height="26" width="88" alt="订阅">
              <img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" height="19" width="19" alt="订阅">
            </a><a href="http://feedburner.google.com/fb/a/mailverify?uri=gfwlist&amp;loc=en_US" class="tooltip" title="通过电子邮件订阅更新情况，每天最多一封">
              <img src="{{media_url}}feed_email.gif" height="19" width="19" alt="邮件订阅">
            </a>
          </h1>
          <p>加载中...</p>
        </section>
        {%endblock%}
      </aside>
      <div style="clear:both;"></div>
      {%endblock%}
    </div>

    <footer id="footer">
      {%block footer%}
      <a href="https://autoproxy.org/">AutoProxy</a> &bull;
      <a href="https://code.google.com/p/autoproxy-gfwlist/">gfwList</a> &bull;
      <a href="http://github.com/iamamac/autoproxy2pac/issues">问题反馈</a> &bull;
      <a href="https://www.google.com/profiles/911mxl">联系作者</a> &bull;
      <a href="/gfwtest.js">gfwtest.js</a>
      <span id="poweredby">
        <a href="http://validator.w3.org/check?uri=referer">HTML5</a>
        <a href="http://code.google.com/appengine/">Google App Engine</a>
      </span>
      {%endblock%}
    </footer>
  </div>

  {%block deferred_script%}{%endblock%}

  <script src="http://feeds.feedburner.com/gfwlist?format=sigpro&nItems=3&displayTitle=false"></script>
  <script>loadChangelog();</script>

  <!-- Share Badge START -->
  <script src="http://china-addthis.googlecode.com/svn/trunk/addthis.js" charset="utf-8"></script>
  <span class="addthis_org_cn" style="display:none;"><a href="http://addthis.org.cn/share/" i="31|28|21|22|23|11|30|27|72|73|74" side="right" top="150" abordercolor="#777" aheadbgcolor="#ddd" title="分享 AutoProxy2PAC 给朋友"><img src="{{media_url}}share_badge.gif" alt="分享" align="absmiddle"></a></span>
  <!-- Share Badge END -->

  <!-- Twitter Follow Badge START -->
  <script src='http://files.go2web20.net/twitterbadge/1.0/badge.js'></script><script>
    tfb.account = 'mengxl'; tfb.label = 'my-twitter'; tfb.color = '#777';
    tfb.side = 'r'; tfb.top = 300; tfb.showbadge();
  </script>
  <!-- Twitter Follow Badge END -->

  <script src="{{media_url}}jquery.tipTip.minified.js"></script>
  <script>$('.tooltip').tipTip();</script>
</body>
</html>
