{%extends "base.html"%}

{%block title1%}{{name}} Changelog{%endblock%}

{%block css_and_script%}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{rss}}"/>
<link type="text/css" rel="stylesheet" href="{{media_url}}changelog.css">
{%endblock%}

{%block deferred_script%}
<script type="text/javascript" src="{{media_url}}changelog.js"></script>
<script type="text/javascript">loadChangelog($('#changelog')[0],'{{name}}');</script>
{%endblock%}

{%block header%}
<a href="/" style="font-size:small;float:left;position:absolute;">&lt;&lt; Home</a>
{%endblock%}

{%block main%}
<h2 style="text-align:center;">{{name}} 近期更新内容</h2>
<div id="changelog"></div>
{%endblock%}

{%block footer%}
<hr>
<div style="text-align:center;font-size:small;">我的Twitter: <a href="https://twitter.com/mengxl">@mengxl</a></div>
{%endblock%}
