{%extends "base.html"%}

{%block title1%}GFW Test{%endblock%}

{%block css_and_script%}
<style>
  #content {
    font-size: 14px;
    text-align: center;
    height: 260px;
  }
  #url-form {
    margin: 60px 0px 30px;
  }
  #url {
    font-size: 17px;
    width: 500px;
  }
  #url-form button {
    font-size: 15px;
    height: 26px;
  }
  #status a {
    margin: 0px 10px;
  }
</style>
{%endblock%}

{%block deferred_script%}
<script src="/gfwtest.js"></script>
<script>
  function testUrl() {
    var url = $('#url').val();
    if(!url) return;
    if(!/https?:\/\//.test(url)) { url = 'http://'+url; $('#url').val(url); }
    var s = $('#status').empty();
    $('<img width="150" height="150">').attr(isBlockedByGFW(url) ? {src:'{{media_url}}block.jpg', alt:'撞墙'} : {src:'{{media_url}}pass.png', alt:'正常'}).appendTo(s);
    s.append('<br>');
    $('<a>访问</a>').attr('href',url).appendTo(s);
    $('<a>状态有误</a>').attr('href','https://jimmyxu.com/ap/?url='+url).appendTo(s);
    s.fadeIn();
  }
  $('#url').val(window.location.hash.slice(1) || 'http://www.google.com/');
  testUrl();
</script>
{%endblock%}

{%block tagline%}
查看网站是否撞墙
{%endblock%}

{%block content%}
<form id="url-form" onsubmit="testUrl();return false;">
  <input type="url" id="url" autofocus onkeydown="if(event.keyCode!=13) {$('#status').fadeOut('slow');}">
  <button type="submit">测试</button>
</form>
<div id="status"></div>
{%endblock%}
