{%extends "base.html"%}

{%block title%}AutoProxy2PAC - 全平台智能代理{%endblock%}

{%block css_and_script%}
<link rel="stylesheet" media="screen" href="/facebox/facebox.css">
<link rel="stylesheet" href="{{media_url}}changelog.css">
{%endblock%}

{%block deferred_script%}
<script src="/facebox/facebox.js"></script>
<script src="{{media_url}}changelog.js"></script>
<script>
  function getPacUrl() {
  	var name = $("input[@name='name']:checked").val();
    if(name != "custom")
	  return name;
    var host = $('#host').val();
    var port = $('#port').val();
    if(host && port)
      return $('#type').val().toLowerCase()+"/"+host+"/"+port;
  }
  $(document).ready(function() {
	loadChangelog($('#changelog')[0],'gfwlist',3);
	$('#changelog').append('<a href="/changelog/gfwlist">更多...</a>');
  });
</script>
{%endblock%}

{%block main%}
<h1>AutoProxy2PAC</h1>
<h4>正常网站——直接访问<br/>被墙站点——使用代理</h4>
<form name="form" action="/pac/" method="get" target="post" style="background-color:#C8E8F3;padding:1em;width:350px;">
  <iframe name="post" style="display:none;width:0;height:0"></iframe>
  请选择你使用的代理
  <div>
    {% for item in commonProxy %}
    <input type="radio" name="name" value="{{ item.0 }}" onclick="document.getElementById('proxy-info').style.visibility='hidden'"/>{{ item.1 }}<br/>
    {% endfor %}
    <input type="radio" name="name" value="custom" checked onclick="document.getElementById('proxy-info').style.visibility='visible'"/>其它
  </div>
  <div id="proxy-info">
    <select id="type" name="type">
      <option value="PROXY">HTTP</option>
      <option value="SOCKS">SOCKS</option>
    </select>
    <input type="text" id="host" name="host" size="16" value="127.0.0.1"/>:
    <input type="text" id="port" name="port" size="5"/>
  </div>
  <br/>
  <button type="button" onclick="if(getPacUrl()) { submit(); $.facebox({ ajax: '/usage' }); }">下载PAC文件</button>
  或
  <button type="button" onclick="u=getPacUrl(); if(u) $.facebox({ ajax: '/usage?u='+u })">获取在线版本</button>
</form>
<p>请注意PAC文件本身并无翻墙功能，<b>需要配合翻墙工具使用</b></p>
<p>Firefox用户可安装<a href="http://www.autoproxy.org/">AutoProxy</a>插件获得更多功能</p>
{%endblock%}

{%block sidebar%}
<div style="margin-bottom:8px"><a href="gfwtest">哪些网站必须通过代理才能访问？</a></div>
<div>
  <div style="font-weight:bold">
    gfwlist 近期更新内容
    <a href="{{gfwlistRss}}" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="(RSS)" style="vertical-align:middle;border:0"/></a>
  </div>
  <div id="changelog" style="font-size:12px">加载中...</div>
</div>
{%endblock%}

{%block footer%}
<hr>
<div style="text-align:center"><font size="-1">我的Twitter: <a href="https://twitter.com/mengxl">@mengxl</a> | 感谢<a href="http://www.autoproxy.org/en/subscriptions">gfwList</a>提供代理规则</font></div>
{%endblock%}
