{%extends "2column.html"%}

{%block title%}AutoProxy2PAC - 全平台智能代理{%endblock%}

{%block css_and_script%}
<link rel=stylesheet media=screen href=/facebox/facebox.css>
{%endblock%}

{%block deferred_script2%}
<script src=/facebox/facebox.js></script>
<script>
  $('#config input[name="customize"]').change(function() {
    $('#custom-pane').slideToggle();
    $('#config button').text($(this).attr('checked')?'确定':'获取PAC地址');
  });
  {%if userSetting%}
  var p = '{{userSetting.defaultProxy}}'.split('/');
  if(p.length!=3) {
    $('#config input[name="proxy-name"]').val(p); $('#proxy-input').hide();
  } else {
    $('#proxy-type').val(p[0]); $('#proxy-host').val(p[1]); $('#proxy-port').val(p[2]);
  }
  $('#config input[name="customize"]').attr('checked',true).change();
  $('#config textarea').val('{{userSetting.customRules|join:"\n"}}');
  {%endif%}
  function getPacUrl() {
    var u = $('#config input[name="proxy-name"]:checked').val();
    if(u=='custom') {
      var host = $('#proxy-host').val(), port = $('#proxy-port').val();
      if (!host || !port) { $.facebox("请填写代理信息或选择你使用的代理工具"); return; }
      u = $('#proxy-type').val() + '/' + host + '/' + port;
    }
    $('#config input[name="proxy"]').val(u);
    if($('#config input[name="customize"]').attr('checked'))
      u = '{{pacUserUrlPrefix}}'+$('#config input[name="pacname"]').val();
    return u;
  }
  $('#config button').click(function() {
    var u = getPacUrl();
    if(!u) return false;
    $.facebox({ajax:'/usage?u='+u});
  });
  $('#download').click(function() {
    var u = getPacUrl();
    if(!u) return false;
    if($('#config input[name="customize"]').attr('checked'))
      $('#config').submit();
    else
      $(this).attr('href','/{{pacUrlPrefix}}'+u+'?download');
    $.facebox({ajax:'/usage'});
  });
  $(function() { $('.rule-help').tipTip({
    keepAlive:true, defaultPosition:'top',
    content:'<p>用户规则应符合 <a href="https://autoproxy.org/rules">AutoProxy 语法</a>，每行一条</p><p>示例：</p><ul>'+
      '<li><code>keyword</code>: 对包含某关键词的网址使用代理</li>'+
      '<li><code>||example.com</code>: 对某网站及其子域名使用代理</li>'+
      '<li><code>@@</code> 开头的规则: 不使用代理（可用来禁止 gfwlist 中不需要的规则）</li>'+
      '</ul>'
  })});
</script>
{%endblock%}

{%block tagline%}
正常网站——直接访问<br/>被墙站点——使用代理
{%endblock%}

{%block main%}
<form id=config method=post target=post-frame onsubmit="return customize.checked">
  <fieldset name=proxy-select>
    <legend><span class="tooltip" title="PAC文件本身并无翻墙功能，请<em>配合代理工具使用</em>">请选择你使用的代理工具</span></legend>
    {%for item in presetProxies%}
    <p><label><input type=radio name=proxy-name value="{{item.0}}" onchange="$('#proxy-input').hide()"> {{item.1}}</label></p>
    {%endfor%}
    <p><label><input type=radio name=proxy-name value=custom checked onchange="$('#proxy-input').show()"> 其它</label>
      <span id=proxy-input>
        <select id=proxy-type>
          <option value=proxy>HTTP</option>
          <option value=socks>SOCKS</option>
        </select>
        <input id=proxy-host placeholder="IP / 域名" value="127.0.0.1" size=15> :
        <input id=proxy-port placeholder="端口" size=5 pattern="[0-9]{1,5}">
      </span></p>
    <input type=hidden name=proxy>
  </fieldset>
  <fieldset name=custom-setting>
    <legend><label {%if not user%}class="tooltip" title="使用此功能需登录"{%endif%}>
      <input type=checkbox name=customize {%if not user%}disabled{%endif%}> 自定义设置
    </label></legend>
    <div id=custom-pane>
      <p><label class="rule-help">附加规则 [?]:</label> <textarea name=addrules rows=5></textarea></p>
      <p><label>PAC地址:</label> http://pac.autoproxy.org/{{pacUserUrlPrefix}}<input name=pacname value="{{user.nickname}}" class="tooltip" title="暂不开放自定义地址功能" size=15 readonly></p>
    </div>
  </fieldset>
  <fieldset>
    <button name=usage value=online class="tooltip" title="使用在线版PAC，享受实时更新的代理规则（推荐）">获取PAC地址</button> 或
    <a id=download class="tooltip" title="将PAC文件下载到本地使用，请定期重新下载保持最新" href=# target=post-frame>下载PAC文件</a>
  </fieldset>
  <iframe name=post-frame style="display:none;"></iframe>
</form>
{%endblock%}
